@import url('https://fonts.googleapis.com/css?family=Lato');
body{
  background: #f4f4f4;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1{
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#question-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  /* align-self:  */
  background: white;
  color: #1e3056;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 60%;
  padding: 15px;
  box-shadow: 0 2px 15px 1px rgba(0,0,0,0.12);
}
.justify-content-between{
justify-content: space-between;
display: flex;
}
p.qDate {
  color: rgba(0,0,0,0.5);
  font-size: 12px;
}